section {
  width: 100%;
}
#tweet-text {
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid #545149;
  
}

#tweetButton {
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  background-color: #4056A1;
}

.counter {
  float: right;
  font-family: 'Bungee', sans-serif;
}

.counterOver {
  color: #FF0000;
}