.new-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}

#tweet-text {
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid #545149;
}

#tweet-button {
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  background-color: #4056A1;
}

#counter {
  float: right;
  font-family: 'Bungee', sans-serif;
}

.counter-over {
  color: #FF0000;
}

#tweet-button.disabled {
  background-color: #8a91b6;
}

.err-msg {
  background-color: #ff00002c;
  color: #FF0000;
  padding: 0px 5px;
}